body {
    background-color:#e5e5e5;
    font-size: 12px;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    color: #000000;
    text-align: left;
}

#site {
    width:954px;
    height:582px;
    background:url('../images/fundo-laranja.jpg') no-repeat center center;
    margin:30px auto;
    border:solid 2px #ffffff;
}

#site #topo {
    height:110px;
}

#site #topo #imagem-marca-dagua{
    position:relative;
    top:80px;
    left:60px;
}

#site #topo #menu {
    float:right;
    height:53px;
    width:581px;
    background:url('../images/menu-topo-fundo.png') no-repeat left center;
}

#site #topo #menu li {
    float:right;
    color:#ffffff;
    padding:20px;
    font-size:13px;
    font-weight:bold;

}

#site #meio {
    height:375px;

}

#site #meio h1 {
    height:37px;
    width:200px;
    padding:15px;
    padding-right:50px;
    background:url('../images/barra-titulo-light.png') no-repeat right center;
    color:#ffffff;
    font-size:47px;
    text-align:right;
    margin-bottom:20px;
}

#site #meio h1.grande {
    width:830px;
}


#site #meio #menu-lateral li {
    width:150px;
    height:30px;
    background:url('../images/menu-lateral-fundo.png') no-repeat right center;  
    margin-top:10px;
}

#site #meio #menu-lateral li a {
    width:150px;
    height:14px;   
    display:block;
    color:#ffffff;
    padding:8px;
    padding-left:15px;
    font-size:14px;
}

#site #meio #icones-destaque li {
    width:210px;
    height:203px;
    float:left;
    margin:10px;
    margin-left:16px;
}

#site #meio #icones-destaque li a {
    width:210px;
    height:203px;   
    text-indent:-999999px;
    overflow:hidden;
    display:block;
}

#site #meio #icones-destaque li.agenda {
    background:url('../images/cursos-ico-agenda.png') no-repeat center center;  
}

#site #meio #icones-destaque li.ministrantes {
    background:url('../images/cursos-ico-ministrantes.png') no-repeat center center;  
}

#site #meio #icones-destaque li.vantagens {
    background:url('../images/cursos-ico-vantagens.png') no-repeat center center;  
}

#site #meio #icones-destaque li.inscreva-se {
    background:url('../images/cursos-ico-inscreva-se.png') no-repeat center center;  
}


#site #rodape {
    height:67px;
    width:924px;
    padding:15px;
    background:url('../images/rodape-fundo.png') no-repeat left center;
    font-size:13px;
    line-height:120%;
}

#site #rodape small {
    font-size:10px;
}

#site #rodape #rodape-esquerda {
    background:url('../images/logo-rodape-fundo-branco.png') no-repeat left center;
    width:300px;
    height:47px;
    padding:10px;
    padding-left:230px;
    border-right:#E77817 2px solid;
    float:left;
}

#site #rodape #rodape-direita {
    padding:10px;
    padding-left:50px;
    float:left;
}

.font-laranja {
    color:#E77817;
}

.font-azul {
    color:#1D2E63;
}
