.container {
	background-image: linear-gradient(top, #E77817, #E78C16);
	            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E77817', EndColorStr='#E78C16');
}
body.blue-bkg .container {
  background-image: linear-gradient(top, #E6E6E7, #F1F1F1);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E6E6E7', EndColorStr='#F1F1F1'); /* IE6–IE9 */
}
body.clinicas .container {
	background-image: linear-gradient(top, #314170, #5F78B8);
	            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#314170', EndColorStr='#5F78B8');
}
body.clinicas header nav {
		background: url('../images/orange-nav.png') transparent no-repeat right top;
}
header nav {
	background: url('../images/nav-bk.png') transparent no-repeat 0px 0;

}
header nav ul li:hover, header nav ul li  ul  {
	background-image: url('../images/trans.png')
}

footer {
	height:70px;
}
footer section:first-child  p {
	clear:none;
}
footer section p  {
	clear:left;
}
footer section p  .adr {
	color: #1d2e63;
	text-transform:normal;
	font-size:9px;
}
footer section ul {
	height:20px;
}


section.cursos h2{
	background-image:url('../images/h2-bk.png');
	background-repeat: no-repeat;
}
section.cursos-secondary h2 {
	background-image:url('../images/h2-sec.png');
	background-repeat: no-repeat;
	font-size: 1.8em;
}
body.clinicas section.cursos-secondary ul.dropdown li {
	background:url('../images/orange-vertical.png') transparent no-repeat right top;;
}
section.cursos-secondary ul.dropdown li {
	
	background:url('../images/side-btn-bk.png') transparent no-repeat -40px 0;
}

section.cursos-secondary ul.dropdown li:hover {
	background-position: 0 0;
}

ul.dropdown.vertical {
	width:150px;
}
ul.dropdown.vertical ul {
	background-image:url('../images/submenu-bk.png');
	background-repeat:no-repeat;
}
