body {
  
  background-color: #e8e8e9 ;
  font-family: 'Arimo', arial, serif;
  color:white;
}
.container {
	background-image: -webkit-gradient(
		linear,
		right bottom,
		left bottom,
		color-stop(0.17, #E77817),
		color-stop(0.47, #E7A713),
		color-stop(0.79, #E78C16)
	);
	background-image: -moz-linear-gradient(
		right center,
		#E77817 17%,
		#E7A713 47%,
		#E78C16 79%
	);
    border: 2px solid white;
    margin-top: 30px;
}
header {
margin-bottom:50px;

}

header h1 {
    margin: 44px 0 0 47px;
	background-image: url(../images/logo-marca-dagua-fundo-laranja.png);
	width: 195px;
	height: 79px;
	text-indent: -9999px;
}
header section#logo {
	
}

header nav {
    font-family: 'Arimo', arial, serif;
    height: 53px;
	background: #142671;
	-webkit-border-bottom-left-radius: 127px;
	-moz-border-radius-bottomleft: 127px;
	border-bottom-left-radius: 127px;
	
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, #152672),
		color-stop(0.51, #2F3EAD),
		color-stop(0.95, #152672)
	);
	background-image: -moz-linear-gradient(
		left center,
		#152672 0%,
		#2F3EAD 51%,
		#152672 95%
	);
	text-align: center;
	color: white;
    position: relative !important;
	behavior: url(PIE.htc);
}
header nav h2 {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 3px;
	font-style: italic;
}
header nav ul {
  
}
header nav  ul  li{
   float:left;
   
}
header nav ul li {
	font-style: italic;
    font-family: 'Arimo', arial, serif;
	color: white;
    display: block;
    padding: 11px 21px;
    text-decoration: none;
}
header nav ul li:hover {
    font-weight: 700;
	background-color: rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.2);
}
header nav ul li  ul {
    background-color: rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.2);
	width:450px;
}

section.left_column {
}
.left_column article{
	float:left;
	text-align:right;
	margin-left: 42px;
	border: dashed 1px green;
	padding:5px;
    font-size: 0.8em;
    height: 156px;
	
}
.left_column p {
	float:right;
}
.left_column p  a{
    background-color: red;
    color: white;
    display: block;
    line-height: 22px;
    margin-top: -24px;	
	font-weight:700;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase
}

section.right_column {

}
.right_column  article{
	float:right;
	text-align:left;
	margin-right: 42px;
	border: dashed 1px green;
	padding:5px;
    font-size: 0.8em;
    height: 156px;
}
.right_column p{
	float:left;
}
.right_column p a{
    background-color: #1d2e63;
    color: white;
    display: block;
    line-height: 22px;
    margin-top: -24px;
	font-weight:700;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase
}

footer {
	margin-top:70px;
	padding-bottom:20px;
	padding-top:10px;
}
footer img {
	float:left;
	margin-right:20px;
	margin-left:40px;
}
footer section:first-child {
	border-right:solid 1px white;
	margin-left:0;
	padding-right:6px;
}
footer section {
	margin-left:-7px;
}
footer section:first-child  p {
	float: right;
}
footer section p {
    display: block;
    margin-right: 17px;
    margin-top: 18px;
}
footer section p span {
   display:block;
   font-weight:700;
   font-size:.8em;
}
footer section p  .tel {
	display:inline;
	float:left;
	margin-right:5px;
}
footer section p .small_text {
	color:black;
	font-size:.5em;
	padding-top:5px;
}	
footer section p .tel_small {
    display: inline;
    float: left;
    font-size: 0.7em;
    margin-right: 5px;
    margin-top: 3px;
}
footer section p  .title {
	color: #1d2e63;
	text-transform:uppercase;
	font-size:.9em;
}
footer section p  .last {
	display:inline;
}
footer .last {
	margin-left:10px;
}
footer section p  .adr {
	color: #1d2e63;
	text-transform:normal;
	font-size:.7em;
}
footer section p  a{
	font-style: italic;
	color:white;
	text-decoration:none;
	font-size:.8em;
}
footer section ul {
	height: 11px;
}
footer section ul li {
	float:left;
	margin-right:5px;
}
footer section ul li a {
	display:block;
	width:25px;
	height:25px;
	text-indent:-9999px;
}
footer section ul li a.twitter {
	background-image: url("../images/social_14.jpg")
}
footer section ul li a.facebook {
	background-image: url("../images/social_16.jpg")
}
footer section ul li a.blogger {
	background-image: url("../images/social_18.jpg")
}

footer.with_white_bk {
	background-color:#ffffff;
	-webkit-border-top-right-radius: 90px;
	-moz-border-radius-topright: 90px;
	border-top-right-radius: 90px;
}
footer.with_white_bk section:first-child {
	border-right:solid 1px #E77817;
}
footer.with_white_bk section p span.tel, footer.with_white_bk section p span.tel_small, footer.with_white_bk section a {
	color: #E77817;
	
}

/*-----------------   CURSOS   --------------------------*/
section.cursos {

}

section.cursos h2 {
    background-color: rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.2);
    font-size: 2.8em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    padding-right:30px;
    text-align: right;
	color: rgba(255, 255, 255, 0.8);
	
	-webkit-border-top-right-radius: 22px;
	-webkit-border-bottom-right-radius: 22px;
	-moz-border-radius-topright: 22px;
	-moz-border-radius-bottomright: 22px;
	border-top-right-radius: 22px;
	border-bottom-right-radius: 22px;
}
section.cursos ul {
}
section.cursos ul  li{
	float:left;
	margin:0 10px;
}


