body {
    background-color:#e5e5e5;
    font-size: 12px;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    color: #000000;
    text-align: left;
}

a:hover{
    text-decoration:underline;
}

body#category {
    background:url('../images/fundo-laranja.jpg') repeat center center fixed;
}

#site {
    width:954px;
    height:582px;
    background:url('../images/fundo-laranja.jpg') no-repeat center center;
    margin:30px auto;
    border:solid 2px #ffffff;
}

body#category #site {
    background:url('../images/canto-inscreva-se.png') #EBEBEC no-repeat top left;
}

#site #topo {
    height:110px;
}

#site #topo #imagem-marca-dagua{
    position:relative;
    top:80px;
    left:60px;
}

#site #topo #menu {
    float:right;
    height:53px;
    width:581px;
    background:url('../images/menu-topo-fundo.png') no-repeat left center;
}

#site #topo #menu li {
    float:right;
    color:#ffffff;
    padding:20px;
    font-size:13px;
    font-weight:bold;
}

#site #meio {
    height:375px;
}

#site #meio p {
    line-height:115%;
    margin-bottom:5px;
}

#site #meio h1 {
    height:37px;
    width:200px;
    padding:15px;
    padding-right:50px;
    background:url('../images/barra-titulo-light.png') no-repeat right center;
    color:#ffffff;
    font-size:47px;
    text-align:right;
    margin-bottom:20px;
}

#site #meio h1.grande {
    width:830px;
}

#site #meio #menu-lateral {
    width:150px;
    float:left;
}

#site #meio #menu-lateral li {
    width:150px;
    height:30px;
    background:url('../images/menu-lateral-fundo.png') no-repeat right center;  
    margin-top:10px;
}

#site #meio #menu-lateral li a {
    width:150px;
    height:14px;   
    display:block;
    color:#ffffff;
    padding:8px;
    padding-left:15px;
    font-size:14px;
    text-transform:uppercase;
    font-weight:bold;
}

#site #meio #icones-destaque li {
    width:210px;
    height:203px;
    float:left;
    margin:10px;
    margin-left:16px;
}

#site #meio #icones-destaque li a {
    width:210px;
    height:203px;   
    text-indent:-999999px;
    overflow:hidden;
    display:block;
}

#site #meio #icones-destaque li.agenda {
    background:url('../images/cursos-ico-agenda.png') no-repeat center center;  
}

#site #meio #icones-destaque li.ministrantes {
    background:url('../images/cursos-ico-ministrantes.png') no-repeat center center;  
}

#site #meio #icones-destaque li.vantagens {
    background:url('../images/cursos-ico-vantagens.png') no-repeat center center;  
}

#site #meio #icones-destaque li.inscreva-se {
    background:url('../images/cursos-ico-inscreva-se.png') no-repeat center center;  
}

#site #meio #detalhes-cursos {
    width:395px;
    height:295px;
    overflow-y:scroll;
    float:right;
    margin-right:15px;
    margin-top:-50px;
    color:#ffffff;
}

#site #meio #detalhes-cursos h2 {
    text-transform:uppercase;
    font-size:22px;
    color:#1D2E63;
    margin-bottom:15px;
}

#site #meio #detalhes-cursos h3 {
    color:#1D2E63;
    margin-bottom:15px;
    font-size:13px;
}

#site #meio #detalhes-cursos #ver-turmas {
    font-weight:bold;
    color:#1D2E63;
}

#site #meio #lista-cursos {
    width:450px;
    height:295px;
    overflow-y:scroll;
    float:right;
    margin-right:15px;
    margin-top:-50px;
    color:#1D2E63;
}

#site #meio #lista-cursos h2 {
    text-transform:uppercase;
    font-size:18px;
    color:#ffffff;
    margin-bottom:15px;
}

#site #meio #lista-cursos li {
    margin:5px;
}

body#category #site #meio #lista-cursos {
    margin:0;
}

body#category #site #meio #lista-cursos h2 {
    color:#E77817;    
}

body#category #site #meio #pagina-turmas {
    width:670px;
    float:right;
    color:#1D2E63;
    margin-top:45px;
    font-weight:bold;
}

body#category #site #meio #pagina-turmas h2 {
    text-transform:uppercase;
    font-size:18px;
    color:#E77817;
    margin-bottom:10px;
}

body#category #site #meio #pagina-turmas h3 {
    margin-bottom:15px;
    font-size:14px;
}

body#category #site #meio #pagina-turmas h4 {
    text-transform:uppercase;
    font-size:13px;
    margin-bottom:7px;
}

body#category #site #meio #pagina-turmas #lista-turmas {
    width:400px;
    height:250px;
    overflow-y:scroll;
    float:left;
}

body#category #site #meio #pagina-turmas #lista-turmas li {
    margin-bottom:14px;    
}

body#category #site #meio #pagina-turmas #lista-turmas li span {
    padding:3px;
}

body#category #site #meio #pagina-turmas #lista-turmas li .turma {
    text-transform:uppercase;
    background-color:#1D2E63;
    color:#ffffff;
    margin-right:5px;
}

body#category #site #meio #pagina-turmas #pagamento {
    width:250px;
    float:right;
}

body#category #site #meio #pagina-turmas #pagamento h4 {
    font-size:12px;

}

body#category #site #meio #pagina-turmas #pagamento li {
    font-size:15px;
    color:#E77817;
    margin-bottom:2px;
}

body#category #site #meio #pagina-turmas #pagamento li span {
    background-color:#1D2E63;
    color:#ffffff;
    margin-right:5px;
    display:inline-block;
    width:120px;
    padding:5px;
    text-align:right;
    font-size:12px;
}

#site #meio #cursos-aviso {
    width:320px;
    float:left;
    font-size:13px;
    margin-left:20px;
}

#site #rodape {
    height:67px;
    width:924px;
    padding:15px;
    background:url('../images/rodape-fundo.png') no-repeat left center;
    font-size:13px;
    line-height:120%;
}

#site #rodape small {
    font-size:10px;
}

#site #rodape #rodape-esquerda {
    background:url('../images/logo-rodape-fundo-branco.png') no-repeat left center;
    width:300px;
    height:47px;
    padding:10px;
    padding-left:230px;
    border-right:#E77817 2px solid;
    float:left;
}

#site #rodape #rodape-direita {
    padding:10px;
    padding-left:50px;
    float:left;
}

.font-laranja {
    color:#E77817;
}

.font-azul {
    color:#1D2E63;
}
